/*для мобильного*/
body {
  display: flex;
  flex-direction: column;
  background: #F6DDCC;
}
.logo{
  float:left;
  margin:10px; 
}
.nav{
  visibility: hidden;
  display: none;
}
.mob{
  visibility: hidden;
    display: none;
}
header{/*шапка*/
  flex-shrink: 0;
  font-family: Luminari, fantasy; /* Семейство шрифтов */
  text-align: left;
  background: url(fon.png);
}
.all{
  background: #FEF5E7;
  align-items: center;
  text-align: center;
}
nav{ /*навигация*/
  margin-left:0%;
  display: flex;
  align-items: center;
  flex-direction:column; 
  margin:0 auto;
  font-family: Luminari, fantasy; /* Семейство шрифтов */
  text-align: center;
  background: url(fon.png);
  margin-bottom: 10px;
}
footer{ /*подвал*/
  background: url(fon.png);
  text-align: left;
  flex-shrink: 0;
}

table{
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse; /*убираем двойные линии вокруг ячеек*/

}
td, th{
  text-align: center;
  border: 1px solid black;
}
tr:nth-child(2n){
  background: #EFB63C ;
}
.forma{/*форма выше таблицы*/
  margin:10px; 
  width: 100%;
  position: relative;
}

h1{
  margin:20px; 
}
.a1{
  width: 50%;
}
.a2{
  width: 25%;
}


/*для компа*/
@media (min-width:  990px){
.logo{
  float:left;
  margin:10px; 
}
textarea{
width: 30%;
}
.nav{
  display: initial;
   visibility: visible;
  align-items: center;
   flex-direction:row; 
   margin-bottom: 20px; 
}
.mob{
  visibility: visible;
  display: initial;
}
.forma{
  position: relative;
  margin-bottom: 20px;
}
}